{% extends 'base.html' %}
{% block title %}Usuń Ciężarówkę{% endblock %}
{% block page_class %}page-bg-light{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow-lg">
            <div class="card-header bg-danger text-white text-center">
                <h3 class="fw-bold"><i class="fa-solid fa-trash"></i> Usuń Ciężarówkę</h3>
            </div>
            <div class="card-body text-center">
                <p class="fs-5">Czy na pewno chcesz usunąć ciężarówkę <strong>{{ ciezarowka.ciez_marka }} {{ ciezarowka.ciez_model }} - {{ ciezarowka.ciez_nr_rejestr }}</strong>?</p>
                <p class="text-danger fw-bold">Tej operacji nie można cofnąć!</p>
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger px-4">
                        <i class="fa-solid fa-trash"></i> Tak, usuń
                    </button>
                    <a href="{% url 'zarzadzaj_ciezarowkami' %}" class="btn btn-secondary px-4">Anuluj</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
